.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
  padding: 5px 15px;
}

.logo .logo-img {
  height: 45px;
  display: inline-block;
}

/* Project styles */
.project {
  width: 100%;
  margin-bottom: 30px;
	font-weight: bold;
}

.project-header {
  height: 50px;
  background-color: transparent;
  border-radius: 0px;
	position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.project-summary {
	color: #f1f1f2;
  float: right;
  width: 86%;
	position: relative;
	background-color: rgba(127,168,179,1);
}

.summary-cell {
  width: 16.666%;
	height: 50px;
	background-color: transparent;
  border-top: 4px solid rgba(255,255,255,1);
  border-left: none;
  float: left;
}

.project-title {
  background-color: rgba(127,168,179,1);
  color: white;
  width: 14%;
  margin: auto;
  float: left;
	border-top: 4px solid white;
	border-right: 2px solid #bec2ce;
  line-height: 46px;
}
/*
.project-title:before {
	content:"";
	width: 0;
	height: 0;
	display: inline;
	position: absolute;
	bottom: 0px;
	right: 86%;
	border-bottom: 15px solid rgba(88,88,88,1);
	border-left: 15px solid transparent;
}
*/

.project > .project-header:nth-last-of-type(2) {
	background-color: rgba(229,211,134,1);
	color: rgba(64,64,64,1);
	font-weight: bold;
}

.project > .project-header:nth-last-of-type(2) > .project-title {
	background-color: transparent;
	color: rgba(64,64,64,1);
}

.project > .project-header:nth-last-of-type(2) > .project-summary {
background-color: transparent;
color: rgba(64,64,64,1);
}

.project > .project-header:nth-last-of-type(2) > .project-summary > .summary-cell-right {
	background-color: rgba(206,174,101,1);
}

.summary-cell:nth-child(even) {
	background-color: rgba(104,104,104,0.1);
	border-top: 4px solid rgba(230,232,239,1); 
}

.summary-cell:nth-child(even):after {
	content: "";
	bottom: -30px;
	width: 16.666%;
	height: 30px;
	display: block;
	position: absolute;
	background-color: rgba(230,232,239,1); 
}

.btn-success {
	background-color: #81c66d;
	border: none;
	border-radius: 0px;
}

.submit-report-button {
	position: relative;
	width: 28%;
	height: 50px;
	left: 72%;
	font-size: 140%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px
}

.submit-report-button:focus {
	outline: none !important;
}

.summary-cell-right {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  width: 16.666%;
  font-weight: bold;
}

.project-summary > .summary-cell:last-child {
	background-color: #809da0;
}

.project-summary > .summary-cell-right:before {
	content:"";
	width: 0;
	height: 0;
	display: inline;
	position: absolute;
	left: 83.2%;
	border-top: 23px solid transparent;
	border-left: 30px solid rgba(127,168,179,1);
	border-bottom: 23px solid transparent;
	filter: drop-shadow(3px 0px 1px rgba(0,0,0,0.1));
}

.project > .project-header:nth-last-of-type(2) > .project-summary > .summary-cell-right:before {
	content:"";
	width: 20px;
	height: 0;
	display: inline;
	position: absolute;
	left: 83.2%;
	border-top: 23px solid transparent;
	border-left: 30px solid rgba(229,211,134,1);
	border-bottom: 23px solid transparent;
	filter: drop-shadow(3px 0px 1px rgba(0,0,0,0.1));
}

.project-body {
  width: 100%;
	background-color: white;
}

.task-body {
  height: 30px;
  background-color: rgba(223,229,242,1);
	margin-left: 3%;
	width: 97%;
	color: #58585b;
	position: relative;
}

.add-task-button {
	box-sizing: border-box;
  width: 11%;
	border-right: 89% solid white;
  height: 30px;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
	margin-left: 3%;
  vertical-align: middle;
  line-height: 26px;
	padding: 0px;
	border-top: 4px solid rgba(255,255,255,1);
}

.add-task-button:hover {
	border-top: 4px solid rgba(255,255,255,1);
}

.add-task-button:focus:active {
	border-top: 4px solid rgba(255,255,255,1);
}

.add-task-button:focus {
	border-top: 4px solid rgba(255,255,255,1);
	outline: none !important;
}

.task-title {
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  width: 11.34%;
  background-color: transparent;
  float: left;
	border-right: 2px solid #bec2ce;
	border-top: 4px solid rgba(255,255,255,1);
	white-space: normal;
}

.task-input {
  height: 28px;
}

.task-regular-cell {
  width: 14.776%;
  background-color: #transparent;
	border: none;
  float: left;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
	border-top-width: 0px;
	border-top: 4px solid rgba(255,255,255,1);
}

.task-regular-cell:nth-child(odd) {
	background-color: rgba(104,104,104,0.1);
	border-top: 4px solid rgba(230,232,239,1); 
}

.task-regular-cell:last-child {
	background-color: #d0cfd1;
}

.task-body:first-child > .task-regular-cell {
	border-top: 4px solid rgba(255,255,255,1);
	line-height: 26px;
}

.task-body:first-child > .task-regular-cell:nth-child(odd) {
	border-top: 4px solid rgba(230,232,239,1); 
}

.task-regular-cell:nth-child(odd):after {
	content: "";
	top: 30px;
	width: 14.776%;
	height: 30px;
	display: block;
	position: absolute;
	background-color: rgba(230,232,239,1); 
}

.form-control { 
	background-color: transparent;
	border:none;
	border-radius: 0px;
	border-color: transparent;
	box-shadow: none;
	text-align: center;
}

.task-summary-cell {
  width: 14.776%;
  font-weight: bold;
  border: none;
	background-color: #d0cfd1;
}

.task-summary-cell:before {
	content:"";
	width: 0;
	height: 0;
	display: inline;
	position: absolute;
	left: 85%;
	border-top: 13px solid transparent;
	border-left: 20px solid rgba(223,229,242,1);
	border-bottom: 13px solid transparent;
	filter: drop-shadow(3px 0px 1px rgba(0,0,0,0.1));
}
/* Project description styles */

.project-desc {
  width: 100%;
}

.project-desc-header {
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.project-desc-title {
  width: 14%;
  margin: auto;
  float: left;
  height: 100%;
  line-height: 50px;
}

.project-desc-summary {
  float: right;
  width: 86%;
}

.desc-summary-cell {
  width: 16.666%;
  float: left;
  font-size: 130%;
  font-weight: bold;
	background-color: #c9dff4;
}

.desc-summary-cell:nth-child(even) {
	background-color: #a1c3d5;
}

.desc-summary-cell-right {
  width: 16.66%;
}

.desc-summary-cell:last-child {
	background-color: #e5d386;
}
