<!--<div class="jumbotron">-->
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<div class="row marketing">
  <div class="project-desc">
    <div class="project-desc-header">
      <div class="project-desc-title">
      </div>
      <div class="project-desc-summary">
        <div class="desc-summary-cell">
          <span>Mon</span>
        </div>
        <div class="desc-summary-cell">
          <span>Tue</span>
        </div>
        <div class="desc-summary-cell">
          <span>Wed</span>
        </div>
        <div class="desc-summary-cell">
          <span>Thu</span>
        </div>
        <div class="desc-summary-cell">
          <span>Fri</span>
        </div>
        <div class="desc-summary-cell desc-summary-cell-right">
          <span>Total</span>
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="project-header">
      <div class="project-title">
        <span>Project Janusza</span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
      <div class="project-summary">
        <div class="summary-cell">
          <span>4h</span>
        </div>
        <div class="summary-cell">
          <span>4h</span>
        </div>
        <div class="summary-cell">
          <span>4h</span>
        </div>
        <div class="summary-cell">
          <span>4h</span>
        </div>
        <div class="summary-cell">
          <span>4h</span>
        </div>
        <div class="summary-cell summary-cell-right">
          <span>4h</span>
        </div>
      </div>
    </div>
    <div class=project-body>

    </div>
  </div>
  <!--<h4>HTML5 Boilerplate</h4>-->
  <!--<p>-->
    <!--HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.-->
  <!--</p>-->

  <!--<h4>Angular</h4>-->
  <!--<p>-->
    <!--AngularJS is a toolset for building the framework most suited to your application development.-->
  <!--</p>-->

  <!--<h4>Karma</h4>-->
  <!--<p>Spectacular Test Runner for JavaScript.</p>-->
</div>
